@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Lexend Mega", Arial, sans-serif;
}


@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-marquee {
  animation: marquee 5s linear infinite;
}

.text-shadow-subtle {
  text-shadow: 4px 6px 2px rgba(69, 124, 217, 0.5);
}

.lexend-mega-use {
  font-family: "Lexend Mega", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}
